/* Fixed Footer Styles */
.main-footer {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 2rem;
}

.footer-content p {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}
