.input-container {
  position: relative;
  margin-top: 20px;
}

.label {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #a3a2a2;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.hide-label {
  position: absolute;
  top: -10px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  background-color: #1a1a1a;
  padding: 0 4px;
  transition: all 0.3s ease-in-out;
}

input {
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 10px;
  border-radius: 6px;
  background-color: #1a1a1a;
  border: 1px solid #434343;
  font-weight: 500;
  color: #fff;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    border-color: #fff;
  }

  &:focus {
    border-color: #7377e4;
    box-shadow: 0 0 0 2px rgba(115, 119, 228, 0.3);
    outline: none;

    & ~ .label {
      top: -10px;
      background-color: #1a1a1a;
      color: #fff;
      padding: 0 4px;
    }
  }
}

.input-error {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.05);
}

.error {
  position: relative;
  left: 10px;
  top: 5px;
  color: red;
  font-size: 13px;
}

input:autofill {
  box-shadow: 0 0 0 30px #1a1a1a inset !important;
  -webkit-text-fill-color: white !important;
  border: 1px solid #fff !important;
}
